@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;600;700&display=swap');
/* @import './css/About.module.css'; */

/* Global Styles */

:root {
  --header-font: 'Courgette', cursive;
  --main-font: 'Open Sans', sans-serif;
  --primary-button: rgba(0, 89, 124, 0.849);
  --secondary-color: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 248, 242);
  font-family: var(--main-font);
}

h1 {
  font-family: var(--header-font);
  color: var(--dark-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5 {
  user-select: none;
}

p {
  font-family: var(--main-font);
}
a {
  text-decoration: none;
}
button {
  background: var(--primary-button);
  outline: none;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: 'Merriweather';
}
button:hover {
  transform: scale(1.05);
  background: white;
  color: var(--primary-button);
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 85%;
  margin: 30px auto;
}
